<%= form_for(@rant) do |f| %>
  <% if @rant.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@rant.errors.count, "error") %> screwed up the posting of this rant</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :body, rows: 10, placeholder: "Type your rant here and we'll handle the rest. Make sure you've logged in! (Your Twitter handle will be in the upper-right corner)" %>
  </div>
  <div class="actions">
    <%= f.submit 'Rant!', class: 'btn btn-primary'  %>
  </div>
<% end %>
